.column {
    float:left;
    height: 50px;
    background-color: black;
    width: 100%;
    margin: 10px 0;
}

@media (min-width: 992px) {
    .column {
        background-color: blue;
        width: 30%;
        margin: 10px;
    }
}